body {
    font-family: Arial, sans-serif;
    background-image: url("imagenes/OnePiece-Store-Banner-1920x730px.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
    padding: 0;
}

.container {

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2000px rgba(255, 0, 0, 0.911);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;

}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.volver
{
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 42px;
  border-radius: 5px;

}

.dis
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}