.content
{   
    margin: 40px auto;
    padding: 30px;
    text-align: center;
    background-color:white;
    box-shadow:0px 0px 50px 5px red;
    border-radius: 15px;
    max-width: 800px ;
}

.volver
{
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 42px;
  border-radius: 5px;

}

.dis
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;

}
body{
    background-image: url("imagenes/OnePiece-Store-Banner-1920x730px.jpg");
    background-size: cover;
}